if BOARD_60WKEYBOARD

config ZMK_KEYBOARD_NAME
    default "60wkeyboard"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_60WKEYBOARD